# Node
node_modules/
dist/
*.tsbuildinfo
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.log
